body,
html {
  height: 100%;
  margin: 0;
}
.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding-top: 60px; /* Adjust based on navbar height */
  background-color: transparent; /* Ensure background is transparent */
}
.scroll-arrow {
  position: fixed;
  height: 40vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  animation: bounce 2s infinite;
  color: #000; /* Adjust the color as needed */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}
.custom-ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 24px; /* Big letters */
  text-align: center;
  padding: 0;
}

.custom-ul li {
  margin: 20px; /* Spacing between items */
}

.custom-ul a {
  text-decoration: none; /* Removes the underline */
  color: #fff; /* Dark grey color for a sober look */
  font-weight: bold; /* Makes the text slightly bolder */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-ul a:hover,
.custom-ul a:focus {
  color: #0af; /* Changes color on hover/focus for subtle interaction */
}