<img
  class="card-img-top rounded mt-2"
  src="assets/imgs/foto.jpg"
  alt="Card image cap"
  style="scale: 0.8"
/>
<div class="card-body">
  <h3 class="card-title">Agustín Vallejo-Villegas</h3>
  <ul>
    <li>Astronomer from University of Antioquia</li>
    <li>Software Developer at PhET, University of Colorado Boulder</li>
    <li>Founder of <a href="https://www.qualiatech.org/">Qualia Tech</a></li>
    <li>Pianist and Painter (Watercolor, gouache, oil)</li>
  </ul>

  <div class="justify-content-center">
    <a
      class="btn btn-secondary btn-lg btn-floating"
      href="https://www.instagram.com/agusvallejov/"
      target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="btn btn-secondary btn-lg btn-floating"
      href="https://www.linkedin.com/in/agust%C3%ADn-vallejo-62468718a/"
      target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
</div>
