<div class="card-body" style="background-color: #343a40; color: white;">
  <img
    class="card-img-top rounded mt-1 mx-auto"
    src="assets/imgs/foto.jpg"
    alt="Card image cap"
    style="width: 100%; display: block; align-items: center;" 
  >
  <h2 class="card-title text-center">Agustín Vallejo-Villegas</h3> <!-- Optional: centered the title -->
  <ul class="text"> <!-- Optional: centered the text in the list -->
    <li>Astronomer, University of Antioquia</li>
    <li>Software Developer at PhET, University of Colorado Boulder</li>
    <li>Founder of <a href="https://www.qualiatech.org/" style="color: #5af;"><b>Qualia Tech</b></a></li>
    <li>Pianist and Painter</li>
  </ul>

  <div class="justify-content-center d-flex"> <!-- Added flex display to center the buttons -->
    <a
      class="btn btn-secondary btn-lg btn-floating me-2"
      href="https://www.instagram.com/agusvallejov/"
      target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="btn btn-secondary btn-lg btn-floating"
      href="https://www.linkedin.com/in/agust%C3%ADn-vallejo-62468718a/"
      target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
</div>
